body {
    width: 60%;
    margin: auto;
    text-align: center;
}

#convertBase1OToBasex {
    padding: 1%;
}

header img {
    height: 90px;
}

table {
    border-collapse: collapse;
    margin: auto;
    width: 70%;
  }
  
td,th {
    border: 1px solid;
}
